In [13]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%sql postgresql://sparkify:sparkify@127.0.0.1:30432/sparkifydb

'Connected: sparkify@sparkifydb'

In [15]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://sparkify:***@127.0.0.1:30432/sparkifydb
0 rows affected.

[]

In [22]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://sparkify:***@127.0.0.1:30432/sparkifydb
0 rows affected.

[]

In [18]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://sparkify:***@127.0.0.1:30432/sparkifydb
5 rows affected.

[('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, Decimal('233.40363')),
 ('SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, Decimal('269.81832')),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, Decimal('209.60608')),
 ('SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, Decimal('189.57016')),
 ('SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', 0, Decimal('218.77506'))]

In [9]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://sparkify:***@127.0.0.1:30432/sparkifydb
(psycopg2.errors.UndefinedTable) relation "artists" does not exist
LINE 1: SELECT * FROM artists LIMIT 5;
                      ^

[SQL: SELECT * FROM artists LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/f405)

In [19]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://sparkify:***@127.0.0.1:30432/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 11, 3, 33, 56, 796000), 3, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 3, 36, 10, 796000), 3, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 3, 40, 34, 796000), 3, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 5, 34, 1, 796000), 5, 11, 45, 11, 2018, 6),
 (datetime.datetime(2018, 11, 11, 5, 36, 13, 796000), 5, 11, 45, 11, 2018, 6)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [32]:
%%sql

SELECT *
FROM songs
JOIN artists on songs.artist_id = artists.artist_id
WHERE artists.name = 'Frumpies'

 * postgresql://sparkify:***@127.0.0.1:30432/sparkifydb
0 rows affected.

[]

In [29]:
%%sql

SELECT *
FROM artists

 * postgresql://sparkify:***@127.0.0.1:30432/sparkifydb
69 rows affected.

[('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', Decimal('NaN'), Decimal('NaN')),
 ('AR8ZCNI1187B9A069B', 'Planet P Project', '', Decimal('NaN'), Decimal('NaN')),
 ('ARXR32B1187FB57099', 'Gob', '', Decimal('NaN'), Decimal('NaN')),
 ('AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', Decimal('NaN'), Decimal('NaN')),
 ('ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', Decimal('35.21962'), Decimal('-80.01955')),
 ('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', Decimal('35.14968'), Decimal('-90.04892')),
 ('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', Decimal('NaN'), Decimal('NaN')),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', '', Decimal('NaN'), Decimal('NaN')),
 ('ARNTLGG11E2835DDB9', 'Clp', '', Decimal('NaN'), Decimal('NaN')),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', Decimal('NaN'), Decimal('NaN')),
 ('ARD0S291187B9B7BF5', 'Rated R', 'Ohio', Decimal('NaN'), Decimal('NaN')),
 ('ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', Decimal('40.73197'), Decimal('-74.17418')),
 ('ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', Decimal('41.88415'), Decimal('-87.63241')),
 ('AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', Decimal('30.08615'), Decimal('-94.10158')),
 ('AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', Decimal('37.83721'), Decimal('-94.35868')),
 ('AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', Decimal('NaN'), Decimal('NaN')),
 ('ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', Decimal('40.82624'), Decimal('-74.47995')),
 ('ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', Decimal('40.7038'), Decimal('-73.83168')),
 ('ARGIWFO1187B9B55B7', 'Five Bolt Main', '', Decimal('NaN'), Decimal('NaN')),
 ('ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', Decimal('32.67828'), Decimal('-83.22295')),
 ('ARGUVEV1187B98BA17', 'Sierra Maestra', '', Decimal('NaN'), Decimal('NaN')),
 ('AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', Decimal('49.80388'), Decimal('15.47491')),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', Decimal('27.94017'), Decimal('-82.32547')),
 ('AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', Decimal('40.79195'), Decimal('-73.94512')),
 ('ARL7K851187B99ACD2', 'Andy Andy', '', Decimal('NaN'), Decimal('NaN')),
 ('ARNPAGP1241B9C7FD4', 'lextrical', '', Decimal('NaN'), Decimal('NaN')),
 ('ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', Decimal('34.31109'), Decimal('-94.02978')),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', Decimal('37.16793'), Decimal('-95.84502')),
 ('ARHHO3O1187B989413', 'Bob Azzam', '', Decimal('NaN'), Decimal('NaN')),
 ('ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', Decimal('NaN'), Decimal('NaN')),
 ('ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', Decimal('38.8991'), Decimal('-77.029')),
 ('ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', Decimal('NaN'), Decimal('NaN')),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', Decimal('43.64856'), Decimal('-79.38533')),
 ('AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', Decimal('NaN'), Decimal('NaN')),
 ('ARYKCQI1187FB3B18F', 'Tesla', '', Decimal('NaN'), Decimal('NaN')),
 ('ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', Decimal('37.77916'), Decimal('-122.42005')),
 ('AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', Decimal('NaN'), Decimal('NaN')),
 ('ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', Decimal('40.99471'), Decimal('-77.60454')),
 ('AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', Decimal('28.53823'), Decimal('-81.37739')),
 ('AREDBBQ1187B98AFF5', 'Eddie Calvert', '', Decimal('NaN'), Decimal('NaN')),
 ('ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', Decimal('40.71455'), Decimal('-74.00712')),
 ('ARKULSX1187FB45F84', 'Trafik', 'Utah', Decimal('39.49974'), Decimal('-111.54732')),
 ('AROGWRA122988FEE45', 'Christos Dantis', '', Decimal('NaN'), Decimal('NaN')),
 ('ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', Decimal('51.50632'), Decimal('-0.12714')),
 ('AR7ZKHQ1187B98DD73', 'Glad', '', Decimal('NaN'), Decimal('NaN')),
 ('ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', Decimal('32.74863'), Decimal('-97.32925')),
 ('ARULZCI1241B9C8611', 'Luna Orbit Project', '', Decimal('NaN'), Decimal('NaN')),
 ('ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', Decimal('41.88415'), Decimal('-87.63241')),
 ('ARJIE2Y1187B994AB7', 'Line Renaud', '', Decimal('NaN'), Decimal('NaN')),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', Decimal('8.4177'), Decimal('-80.11278')),
 ('ARVBRGZ1187FB4675A', 'Gwen Stefani', '', Decimal('NaN'), Decimal('NaN')),
 ('AR8IEZO1187B99055E', 'Marc Shaiman', '', Decimal('NaN'), Decimal('NaN')),
 ('ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', Decimal('NaN'), Decimal('NaN')),
 ('AR051KA1187B98B2FF', 'Wilks', '', Decimal('NaN'), Decimal('NaN')),
 ('AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', Decimal('-13.442'), Decimal('-41.9952')),
 ('ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', Decimal('40.79086'), Decimal('-73.96644')),
 ('AR558FS1187FB45658', '40 Grit', '', Decimal('NaN'), Decimal('NaN')),
 ('AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', Decimal('56.27609'), Decimal('9.51695')),
 ('AR7SMBG1187B9B9066', 'Los Manolos', '', Decimal('NaN'), Decimal('NaN')),
 ('ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', Decimal('NaN'), Decimal('NaN')),
 ('ARBGXIG122988F409D', 'Steel Rain', 'California - SF', Decimal('37.77916'), Decimal('-122.42005')),
 ('AREDL271187FB40F44', 'Soul Mekanik', '', Decimal('NaN'), Decimal('NaN')),
 ('ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', Decimal('NaN'), Decimal('NaN')),
 ('ARGSAFR1269FB35070', 'Blingtones', '', Decimal('NaN'), Decimal('NaN')),
 ('ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', Decimal('NaN'), Decimal('NaN')),
 ('AR62SOJ1187FB47BB5', 'Chase & Status', '', Decimal('NaN'), Decimal('NaN')),
 ('ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', Decimal('NaN'), Decimal('NaN')),
 ('ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', Decimal('45.80726'), Decimal('15.967600000000001')),
 ('ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', Decimal('36.16778'), Decimal('-86.77836'))]